## Data Cleaning

### Load Data Sets

In [100]:
import glob, os
import numpy as np
import pandas as pd
import re

In [101]:
zillow_raw = pd.read_csv('data/original_data/zillow.csv')

In [102]:
raw_2011 = pd.read_csv('data/original_data/zip_codes_2011.csv')
raw_2012 = pd.read_csv('data/original_data/zip_codes_2012.csv')
raw_2013 = pd.read_csv('data/original_data/zip_codes_2013.csv')
raw_2014 = pd.read_csv('data/original_data/zip_codes_2014.csv')
raw_2015 = pd.read_csv('data/original_data/zip_codes_2015.csv')
raw_2016 = pd.read_csv('data/original_data/zip_codes_2016.csv')
raw_2017 = pd.read_csv('data/original_data/zip_codes_2017.csv')

In [103]:
zillow_raw.shape

(13181, 120)

In [104]:
raw_2017.shape

(33120, 252)

In [105]:
zillow_raw.head(2)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,2010-09,2010-10,2010-11,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01
0,61639,10025,New York,NY,New York-Newark-Jersey City,New York County,1,3031.0,3058.0,3031.0,...,3785.0,3788.0,3786.0,3784.0,3766.0,3779.0,3843.0,3873.0,3835.0,NaN
1,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,1790.0,1787.0,1784.0,...,2039.0,2070.0,2105.0,2140.0,2168.0,2185.0,2125.0,NaN,2053.0,1996.0

### Check Missingness for Zillow Data

In [106]:
# check how many data missing in each columns
df_missing = zillow_raw.isna().sum().sort_values(ascending=False)
df_missing

2010-10       3851
2010-11       2742
2010-12       2595
2011-01       2588
2011-03       2572
              ...
CountyName       0
State            0
City             0
RegionName       0
RegionID         0
Length: 120, dtype: int64

In [107]:
# check the percentage of data 
df_missing/len(zillow_raw)

2010-10       0.292163
2010-11       0.208027
2010-12       0.196874
2011-01       0.196343
2011-03       0.195129
                ...
CountyName    0.000000
State         0.000000
City          0.000000
RegionName    0.000000
RegionID      0.000000
Length: 120, dtype: float64

In [108]:
# use forward and backward method to impute missing value
#zillow = zillow_raw.ffill(axis = 1).bfill(axis = 1).copy()

In [109]:
zillow = zillow_raw.copy()

In [110]:
zillow.isnull().sum().sum()

142971

### Get Median Rent of Each Year for Zillow Data

In [111]:
zillow["2010"] = zillow[["2010-09", "2010-10", "2010-11"]].median(axis=1)

In [112]:
zillow["2011"] = zillow[["2011-01","2011-02","2011-03","2011-04","2011-05","2011-06","2011-07",
                         "2011-08","2011-09","2011-10","2011-11","2011-12"]].median(axis=1)

In [113]:
zillow["2012"] = zillow[["2012-01","2012-02","2012-03","2012-04","2012-05","2012-06","2012-07",
                         "2012-08","2012-09","2012-10","2012-11","2012-12"]].median(axis=1)

In [114]:
zillow["2013"] = zillow[["2013-01","2013-02","2013-03","2013-04","2013-05","2013-06","2013-07",
                         "2013-08","2013-09","2013-10","2013-11","2013-12"]].median(axis=1)

In [115]:
zillow["2014"] = zillow[["2014-01","2014-02","2014-03","2014-04","2014-05","2014-06","2014-07",
                         "2014-08","2014-09","2014-10","2014-11","2014-12"]].median(axis=1)

In [116]:
zillow["2015"] = zillow[["2015-01","2015-02","2015-03","2015-04","2015-05","2015-06","2015-07",
                         "2015-08","2015-09","2015-10","2015-11","2015-12"]].median(axis=1)

In [117]:
zillow["2016"] = zillow[["2016-01","2016-02","2016-03","2016-04","2016-05","2016-06","2016-07",
                        "2016-08","2016-09","2016-10","2016-11","2016-12"]].median(axis=1)

In [118]:
zillow["2017"] = zillow[["2017-01","2017-02","2017-03","2017-04","2017-05","2017-06","2017-07",
                         "2017-08","2017-09","2017-10","2017-11","2017-12"]].median(axis=1)

In [119]:
zillow["2018"] = zillow[["2018-01","2018-02","2018-03","2018-04","2018-05","2018-06","2018-07",
                        "2018-08","2018-09","2018-10","2018-11","2018-12"]].median(axis=1)

In [120]:
zillow["2019"] = zillow[["2019-01","2019-02","2019-03","2019-04","2019-05","2019-06","2019-07",
                         "2019-08","2019-09","2019-10","2019-11","2019-12"]].median(axis=1)

In [121]:
zillow_median = zillow[['RegionName','CountyName','State','Metro','CountyName','SizeRank','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019']].copy()

In [122]:
zillow_median = zillow_median.rename(columns={"RegionName": "zipcode"})

In [123]:
zillow_median.head()

,zipcode,CountyName,State,Metro,CountyName,SizeRank,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,10025,New York County,NY,New York-Newark-Jersey City,New York County,1,3031.0,2869.5,2929.0,3149.0,3276.0,3802.0,4051.0,3988.0,3552.0,3786.0
1,60657,Cook County,IL,Chicago-Naperville-Elgin,Cook County,2,1787.0,1773.5,1882.0,1966.0,2003.5,2075.0,2143.0,2121.5,2091.0,2070.0
2,10023,New York County,NY,New York-Newark-Jersey City,New York County,3,3304.0,3024.0,3067.0,3208.0,3334.5,4012.0,4691.5,3997.0,3854.5,3929.0
3,77494,Harris County,TX,Houston-The Woodlands-Sugar Land,Harris County,4,1549.0,1591.0,1623.5,1780.0,1944.5,1918.5,1826.5,1763.0,1789.5,1764.5
4,60614,Cook County,IL,Chicago-Naperville-Elgin,Cook County,5,1922.0,1882.0,2016.5,2138.0,2197.5,2270.0,2349.0,2332.5,2309.0,2321.5

In [124]:
col_missing = zillow_median.isna().sum().sort_values(ascending=False)
col_missing

2010          1760
2012          1250
Metro         1238
2011          1227
2013          1225
2014           299
2015           265
2016           222
2017           199
2018           159
2019            23
SizeRank         0
CountyName       0
State            0
CountyName       0
zipcode          0
dtype: int64

In [125]:
row_missing = zillow_median[zillow_median.isnull().any(axis=1)]
row_missing.head(5)

,zipcode,CountyName,State,Metro,CountyName,SizeRank,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
72,10024,New York County,NY,New York-Newark-Jersey City,New York County,73,3526.0,3223.0,3220.0,3376.5,3521.5,4385.0,5132.0,4377.0,NaN,4119.5
125,10452,Bronx County,NY,New York-Newark-Jersey City,Bronx County,126,NaN,NaN,1363.5,1402.5,1410.0,1492.0,1542.5,1696.0,1651.5,1742.0
310,58103,Cass County,ND,Fargo,Cass County,311,NaN,718.5,768.5,854.0,888.0,1099.0,1055.0,944.5,934.0,911.5
313,55901,Olmsted County,MN,Rochester,Olmsted County,314,NaN,1030.0,1081.5,1134.0,1094.0,1116.0,1182.5,1197.5,1166.5,1140.5
441,83646,Ada County,ID,Boise City,Ada County,442,NaN,925.0,992.0,1091.0,1125.5,1159.5,1316.5,1387.0,1408.5,1421.0

In [126]:
zillow_median.to_csv('data/zillow_median.csv', index=False)

### Handling Missingness for Census Data

In [174]:
# check how many data missing in each columns
df_missing = raw_2017.isna().sum().sort_values(ascending=False).nlargest(10)
df_missing

pop_widowed                          33120
pop_separated                        33120
pop_now_married                      33120
pop_never_married                    33120
pop_15_and_over                      33120
speak_spanish_at_home_low_english    33120
speak_spanish_at_home                33120
speak_only_english_at_home           33120
pop_5_years_over                     33120
pop_divorced                         33120
dtype: int64

In [175]:
# check the percentage of data 
df_missing/len(raw_2017)*100

pop_widowed                          100.0
pop_separated                        100.0
pop_now_married                      100.0
pop_never_married                    100.0
pop_15_and_over                      100.0
speak_spanish_at_home_low_english    100.0
speak_spanish_at_home                100.0
speak_only_english_at_home           100.0
pop_5_years_over                     100.0
pop_divorced                         100.0
dtype: float64

In [176]:
# remove the columns that have 100% missingness
impute_2017 = raw_2017.drop(columns=['associates_degree','bachelors_degree','high_school_diploma','less_one_year_college','masters_degree','one_year_more_college', 'pop_25_years_over','aggregate_travel_time_to_work'])

In [177]:
impute_2017.fillna(0, inplace=True)

In [178]:
impute_2017.isnull().sum().sum()

0

In [179]:
impute_2017 = impute_2017.rename(columns={"geo_id": "zipcode"})

In [180]:
impute_2017 = pd.merge(impute_2017, zillow_median[['zipcode','2017']], how='inner', on=['zipcode'])
impute_2017 = impute_2017.rename(columns={"2017": "rent"})

In [181]:
impute_2017.shape

(13162, 245)

In [14]:
raw_2017.to_csv('data/imputed_data/2017_imputed.csv', index=False)

### Row Bind Census Data

In [4]:
raw_2011 = pd.read_csv('data/imputed_data/2011_imputed.csv')
raw_2012 = pd.read_csv('data/imputed_data/2012_imputed.csv')
raw_2013 = pd.read_csv('data/imputed_data/2013_imputed.csv')
raw_2014 = pd.read_csv('data/imputed_data/2014_imputed.csv')
raw_2015 = pd.read_csv('data/imputed_data/2015_imputed.csv')
raw_2016 = pd.read_csv('data/imputed_data/2016_imputed.csv')
raw_2017 = pd.read_csv('data/imputed_data/2017_imputed.csv')

In [5]:
cols = raw_2015.drop(columns=['geoid']).columns

In [6]:
raw_2011 = raw_2011[cols]
raw_2012 = raw_2012[cols]
raw_2013 = raw_2013[cols]
raw_2014 = raw_2014[cols]
raw_2015 = raw_2015[cols]
raw_2016 = raw_2016[cols]
raw_2017 = raw_2017[cols]

#### Train Data

In [264]:
train = pd.concat([raw_2011, raw_2012, raw_2013, raw_2014, raw_2015, raw_2016])

In [265]:
train['do_date'] = train['do_date'].apply(str)
train['year'] = train['do_date'].str[4:]
train = train.drop(columns=['do_date'])

In [283]:
cols = list(train.columns.values)

In [291]:
train = train.sort_values(by=['zipcode','year'])
train.head(6)

,zipcode,year,nonfamily_households,family_households,median_year_structure_built,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,...,commute_35_44_mins,commute_60_more_mins,commute_less_10_mins,commuters_16_over,hispanic_any_race,pop_5_years_over,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english,rent
12394,1001,2011,2887,4129,1963.0,83,405,113,105,207,...,333,418,1567,8353,656,15977.0,14482.0,333.0,72.0,1255.33
8841,1001,2012,2822,4196,1964.0,87,382,30,81,236,...,509,337,1683,8807,811,16531.0,14315.0,427.0,111.0,1294.42
11460,1001,2013,2971,4085,1967.0,82,550,25,91,289,...,471,364,1431,8568,919,16270.0,14149.0,414.0,89.0,1196.58
3490,1001,2014,2832,4168,1967.0,49,600,30,110,216,...,427,347,1364,8432,1013,16134.0,13910.0,700.0,169.0,1226.58
8071,1001,2015,3023,4080,1969.0,78,757,43,112,178,...,332,309,1232,8555,1118,16527.0,14032.0,658.0,169.0,1332.50
8739,1001,2016,3247,3943,1969.0,113,768,50,98,220,...,292,221,1299,8395,1314,0.0,0.0,0.0,0.0,1376.75

In [292]:
train.to_csv('data/train.csv', index=False)

#### Test Data

In [267]:
raw_2017['do_date'] = raw_2017['do_date'].apply(str)
raw_2017['year'] = raw_2017['do_date'].str[4:]
raw_2017 = raw_2017.drop(columns=['do_date'])

In [290]:
raw_2017 = raw_2017.sort_values(by=['zipcode','year'])
raw_2017.head()

,zipcode,year,nonfamily_households,family_households,median_year_structure_built,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,...,commute_35_44_mins,commute_60_more_mins,commute_less_10_mins,commuters_16_over,hispanic_any_race,pop_5_years_over,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english,rent
9914,1001,2017,3410,4050,1968.0,93,750,53,133,220,...,168,262,1246,8409,1152,0.0,0.0,0.0,0.0,1430.0
2141,1002,2017,4989,4987,1971.0,688,2175,433,183,206,...,720,455,2891,13592,1921,0.0,0.0,0.0,0.0,1907.5
1875,1005,2017,687,1098,1961.0,47,39,98,16,0,...,178,360,333,2204,87,0.0,0.0,0.0,0.0,1284.0
11117,1007,2017,1393,4165,1983.0,69,169,147,118,88,...,942,523,1154,8139,193,0.0,0.0,0.0,0.0,1476.0
8069,1010,2017,425,1040,1976.0,14,53,22,6,34,...,238,301,89,1882,93,0.0,0.0,0.0,0.0,1382.0

In [293]:
raw_2017.to_csv('data/test.csv', index=False)

### Check Missingness for Train and Test Data

In [71]:
train = pd.read_csv('data/model_data/train.csv')
test = pd.read_csv('data/model_data/test.csv')

In [72]:
train.shape

(78972, 239)

In [73]:
test.shape

(13162, 239)

In [74]:
# check how many data missing in each columns
df_missing = train.isna().sum().sort_values(ascending=False).nlargest(10)
df_missing

rent                                                 263
owner_occupied_housing_units_upper_value_quartile      0
mobile_homes                                           0
dwellings_50_or_more_units                             0
dwellings_20_to_49_units                               0
dwellings_10_to_19_units                               0
dwellings_5_to_9_units                                 0
dwellings_3_to_4_units                                 0
dwellings_2_units                                      0
dwellings_1_units_attached                             0
dtype: int64

In [87]:
df_missing = test.isna().sum().sort_values(ascending=False).nlargest(10)
df_missing

rent                                                 198
owner_occupied_housing_units_upper_value_quartile      0
mobile_homes                                           0
dwellings_50_or_more_units                             0
dwellings_20_to_49_units                               0
dwellings_10_to_19_units                               0
dwellings_5_to_9_units                                 0
dwellings_3_to_4_units                                 0
dwellings_2_units                                      0
dwellings_1_units_attached                             0
dtype: int64

In [142]:
# Drop any NAs in the training data sets 
new_train = train.dropna(axis=0)

In [143]:
zipcode_missing = new_train.zipcode.unique()

In [154]:
# Make sure the test data contain only the zipcode that appear in training set 
new_test = test[test.zipcode == zipcode_missing]